body {
  background: white;
  font-family: arial,'Open Sans', sans-serif;
  color: #555;
  font-size: 14px;
}

#container {
  margin: 0 auto;
  width: 640px;
  padding: 20px;
  
}

#canvasID {
  display: block;
  margin-top: 300px;
}

.vid {
  position: absolute;
  top: 0;
  left: 0;
}